In [4]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np


import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# Reading stock data from yahoo
from pandas.io.data import DataReader

from datetime import datetime

# For division
from __future__ import division

ImportError: No module named data

In [ ]:
tech_list = ['AAPL','GOOG','MSFT','AMZN']

end = datetime.now()
start = datetime(end.year - 1,end.month,end.day)

#For loop for grabing yahoo finance data and setting as a dataframe

for stock in tech_list:   
    # Set DataFrame as the Stock Ticker
    globals()[stock] = DataReader(stock,'yahoo',start,end)

In [5]:
MSFT.describe()

,High,Low,Open,Close,Volume,Adj Close
count,252.000000,252.000000,252.000000,252.000000,2.520000e+02,252.000000
mean,111.192857,109.101786,110.208056,110.228889,2.969536e+07,109.219602
std,7.902323,8.091987,7.946971,8.014267,1.280518e+07,8.337843
min,97.970001,93.959999,95.139999,94.129997,1.366040e+07,93.384033
25%,105.992502,103.889999,104.859999,104.955002,2.158995e+07,103.730572
50%,109.465000,107.330002,108.450001,108.295002,2.662935e+07,107.153732
75%,114.795002,112.865002,114.032499,114.050003,3.341368e+07,112.894079
max,131.369995,129.389999,130.529999,130.600006,1.112421e+08,130.118362

In [6]:
MSFT.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2018-05-30 to 2019-05-30
Data columns (total 6 columns):
High         252 non-null float64
Low          252 non-null float64
Open         252 non-null float64
Close        252 non-null float64
Volume       252 non-null float64
Adj Close    252 non-null float64
dtypes: float64(6)
memory usage: 13.8 KB

In [ ]:
MSFT['Adj Close'].plot(legend=True,figsize=(10,4))

In [ ]:
MSFT['Volume'].plot(legend=True,figsize=(10,4))

In [18]:
MSFT.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-05-30,99.250000,97.910004,98.309998,98.949997,22158500.0,97.368874
2018-05-31,99.989998,98.610001,99.290001,98.839996,34140900.0,97.260628
2018-06-01,100.860001,99.169998,99.279999,100.790001,28655600.0,99.179474
2018-06-04,101.860001,100.849998,101.260002,101.669998,27281600.0,100.045410
2018-06-05,102.330002,101.529999,102.000000,102.190002,23514400.0,100.557114

In [ ]:
# For calculating Moving Averages
ma_day = [10,20,50]

for ma in ma_day:
     column_name = "MA for %s days" %(str(ma))
     MSFT[column_name] = MSFT['Adj Close'].rolling(ma).mean()

In [ ]:
MSFT[['Adj Close','MA for 10 days','MA for 20 days','MA for 50 days']].plot(subplots=False,figsize=(10,4))

In [2]:
# We'll use pct_change to find the percent change for each day
MSFT['Daily Return'] = MSFT['Adj Close'].pct_change()
# Then we'll plot the daily return percentage
MSFT['Daily Return'].plot(figsize=(12,4),legend=True,linestyle='--',marker='o')

NameError: name 'MSFT' is not defined

In [3]:
sns.distplot(MSFT['Daily Return'].dropna(),bins=100,color='purple')

NameError: name 'MSFT' is not defined

In [55]:
# Closing prices
closing_df = DataReader(['AAPL','GOOG','MSFT','AMZN'],'yahoo',start,end)['Adj Close']

In [57]:
closing_df.head()

Symbols           AAPL         AMZN         GOOG        MSFT
Date
2018-05-30  184.688675  1624.890015  1067.800049   97.368874
2018-05-31  184.068115  1629.619995  1084.989990   97.260628
2018-06-01  187.387604  1641.540039  1119.500000   99.179474
2018-06-04  188.953751  1665.270020  1139.290039  100.045410
2018-06-05  190.411560  1696.349976  1139.660034  100.557114

In [8]:
# Make a new tech returns DataFrame
tech_rets = closing_df.pct_change()
# Using joinplot to compare the daily returns of Google and Microsoft
sns.jointplot('GOOG','MSFT',tech_rets,kind='scatter')

NameError: name 'closing_df' is not defined

In [7]:
sns.pairplot(tech_rets.dropna())

NameError: name 'tech_rets' is not defined